---
import "@fontsource/inter/900.css";
---

<footer class="bg-white rounded-t-4xl shadow-x m-4">
  <div class="w-full mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <p class="text-2xl space-x-reverse text-azul font-black">DaniDev</p>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-body sm:mb-0"
      >
        <li>
          <a href="#Inicio" class="hover:underline me-4 md:me-6">Inicio</a>
        </li>
        <li>
          <a href="#About" class="hover:underline me-4 md:me-6">Acerca de mí</a>
        </li>
        <li>
          <a href="#Skills" class="hover:underline me-4 md:me-6">Habilidades</a>
        </li>
        <li>
          <a href="#Experience" class="hover:underline me-4 md:me-6"
            >Experiencia</a
          >
        </li>
        <li>
          <a href="#Portfolio" class="hover:underline me-4 md:me-6"
            >Portafolio</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-default sm:mx-auto lg:my-8" />
    <span class="block text-sm text-body sm:text-center"
      >© 2026 <a href="https://flowbite.com/" class="hover:underline">DaniDev</a
      >. All Rights Reserved.</span
    >
  </div>
</footer>
<style>
  li,
  span,
  p {
    font-family: "Roboto Variable", sans-serif;
  }
</style>
