---
import "@fontsource/roboto/900.css";
import "@fontsource/roboto/600.css";
import "@fontsource/roboto/800.css";
import { Image } from "astro:assets";
import astronaut from "../img/Imagen perfil.jpeg";
import GithubIcon from "./GithubIcon.astro";
import LinkedinIcon from "./LinkedinIcon.astro";
import WhatsAppIcon from "./WhatsAppIcon.astro";
import FacebookIcon from "./FacebookIcon.astro";
---

<section
  class="flex flex-wrap xl:flex-nowrap justify-center xl:gap-x-30 items-center mx-5 xl:mx-10 mb-10"
>
  <article class="flex xl:flex-col md:gap-12 gap-10 order-3 xl:order-1">
    <a href="https://github.com/dani1dh" target="_blank">
      <GithubIcon
        class="md:w-13 w-10 h-auto cursor-pointer hover:scale-125 ease-in-out duration-300"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/hern%C3%A1ndez-abarca-daniel-049a33375/"
      target="_blank"
    >
      <LinkedinIcon
        class="md:w-12 w-10 h-auto cursor-pointer hover:scale-125 ease-in-out duration-300"
      />
    </a>
    <a href="https://wa.me/7341534549" target="_blank">
      <WhatsAppIcon
        class="md:w-12 w-10 h-auto cursor-pointer hover:scale-125 ease-in-out duration-300"
      />
    </a>
    <a href="https://www.facebook.com/daniel.hernandez.865640" target="_blank">
      <FacebookIcon
        class="md:w-12 w-10 h-auto cursor-pointer hover:scale-125 ease-in-out duration-300"
      />
    </a>
  </article>
  <article class="xl:w-1/4 h-auto xl:pb-40 order-2 my-10">
    <h1 class="tracking-wider font-black md:text-5xl text-4xl xl:pt-30">
      Hola, soy Daniel Hernandez
    </h1>
    <p
      class="my-6 text-slate-600 md:text-2xl text-xl font-extrabold tracking-wider"
    >
      Ingeniero
      <span class="block">Desarrollador Web / Desarrollador Backend</span>
    </p>
    <button
      class="bg-azul mt-2 px-4 py-2 rounded-2xl text-white font-semibold tracking-wider text-xl cursor-pointer hover:-translate-y-2 ease-in-out duration-300"
    >
      Contacto
    </button>
  </article>
  <div class="order-1 xl:order-3 mt-6 xl:mt-0">
    <Image
      src={astronaut}
      alt="Imagen de perfil"
      class="h-auto xl:w-xl w-full rounded-t-4xl rounded-b-sm mask-b-from-85% mask-b-from-black"
    />
  </div>
</section>

<style>
  h1,
  p,
  button {
    font-family: "Roboto Variable", sans-serif;
  }
</style>
