---
import Header from "../components/Header";
import Seo from "../components/Seo.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Seo
      title={title}
      canonical="https://daniel-portafolio.nexusinnovatix.com/"
      description={description}
      image="https://www.nexusinnovatix.com/images/NEXUS_logo.png"
    />
  </head>
  <body class="bg-fondo">
    <Header client:visible />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
